/*
* @Author: CJ Ting
* @Date:   2017-06-09 12:23:44
* @Last Modified by:   CJ Ting
* @Last Modified time: 2017-06-09 16:17:24
*/
header {
  box-sizing: border-box;
  padding: 10px 20px;
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  background: rgba(255,255,255,0.4);
}
header nav {
  display: flex;
  align-items: center;
}
header nav img {
  height: 30px;
}
header nav a {
  text-decoration: none;
  text-decoration: none;
  color: #555;
  margin-right: 20px;
}
header nav a.active {
  color: #42b983;
}

article, .list {
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px #bbb;
}

.list__post {
  display: flex;
  align-items: center;
}
.list__post > span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #444a59;
  margin-right: 20px;
  flex-shrink: 0;
}
.list__post > a {
  text-decoration: none;
  color: #444a59;
  margin-right: 10px;
}
.list__post > div {
  margin-left: auto;
  font-size: .8rem;
  color: #999;
}
